# Activar RewriteEngine
RewriteEngine on

# Raiz del Proyecto
RewriteBase /mvc-base-php

# Condicion para que no lea Directorios ni Archivos
# Solo activada para que no lea Archivos
#RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  CONTROLLER/METODO/ARGUMENTO
#   Salida: index.php?url=CONTROLLER/METODO/ARUMENTO

RewriteRule ^(.+)?$ index.php?url=$1